<html>
    <head>
        <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
    </head>

    <body>

        <div class="container">
            <h1>Регистрация</h1>
        <form method="post">
            <input name="fullname" placeholder="ФИО">
            <input name="email" placeholder="e-mail">
            <input name="group" placeholder="Группа">
            <input name="password" type="password" placeholder="Пароль">
            <button>Зарегистрироваться</button>
        </form>
        </div>
    </body>
</html>