<html>
    <head>
        <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
    </head>

    <body>
<div class="top-actions">
    <a href="/profile"><span class="header-btn">Профиль
</span></a>
    <a href="/logout"><span class="header-btn logout">Выйти</span></a>
</div>

        <div class="container">
            <h1>{{ task.title }}</h1>
            <p>{{ task.question }}</p>
        <form method="post">
            <textarea name="code" rows="12">{{ task.starter_code }}</textarea>
            <button>Проверить</button>
        </form>
        {% if result %}
            <div class="card">
                <h5>{{ result }}</h5>
            </div>{% endif %}
        </div>
    </body>
</html>